.container{
    background:rgba(0, 0, 0, 0.5);
    @apply inset-0 h-full w-full fixed z-10 flex justify-center items-center px-8 py-0 visible opacity-100 transition-all;
}
.form{
    background: #f2f3f7;
    @apply flex justify-center m-auto flex-col rounded-lg relative py-8 px-4;
}
.input{
    border: 1px solid #f8646c;
    @apply py-3 mb-2 rounded bg-transparent text-base outline-0;
}
.input::placeholder{
    text-align: center;
}