.container{
    background:rgba(0, 0, 0, 0.5);
    @apply inset-0 h-full w-full fixed z-10 flex justify-center items-center px-8 py-0 visible opacity-100 transition-all;
}
.form{
    background: #f2f3f7;
    width: 97%;
    @apply flex justify-center lg:w-2/5 md:w-3/5  m-auto flex-col rounded-lg relative py-8 px-4;
}
