@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap");
/*global style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
html,
body {
  max-width: 100%;
  font-family: "DM Sans", sans-serif;
  background-color: #F3F3F9;
}
button,
li {
  font-family: "DM Sans", sans-serif;
}
