.color{
    color: #1D3153;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    @apply prose prose-headings:text-[#1D3153] prose-ol:text-[#1D3153] prose-blockquote:text-[#1D3153] ;
}
.imageContainer{
    @apply flex text-left h-80 justify-start items-start mb-8;
}